.movies {
    background-color: #202020;
    box-sizing: border-box;
    flex: 1 1;
}
  
.movies__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 37px 24px;
    padding: 70px 70px 30px;
    margin: 0px;
}

.error {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    font-family: Inter, 'Areal', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    
    color: #ffffff;
  }

@media screen and (max-width: 1288px) {
    .movies__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1088px) {
    .movies__list {
        padding: 70px 30px 30px;
    }
}

@media screen and (max-width: 768px) {
    .movies__list {
        grid-template-columns: repeat(2, 1fr);
    }
}
  
@media screen and (max-width: 520px) {
    .movies__list {
        padding: 40px 10px 30px;
        grid-template-columns: repeat(1, 1fr);
    }
}