.portfolio {
    background-color: #202020;
    font-family: Inter, 'Areal', sans-serif;
    font-style: normal;
    padding: 0 70px 125px;
  }
  
.portfolio__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
    margin: 0;
    margin-bottom: 50px;
}
  
.portfolio__link {
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    text-decoration: none;
}
  
.portfolio__link:hover {
    opacity: .8;
}
  
.portfolio__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 19px;
    border-bottom: #424242 1px solid;
}
  
.portfolio__arrow-button {
    width: 29px;
    height: 29px;
    background: url('../../images/text__COLOR_font-main.png')no-repeat 100%;
}
  
@media screen and (max-width: 768px) {
    .portfolio {
        padding: 0 50px 90px;
    }
    .portfolio__link {
        font-size: 28px;
    }
}
  
@media screen and (max-width: 620px) {
    .portfolio {
        padding: 0 14px 70px;
    }
    .portfolio__title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
    }
    .portfolio__logo {
        width: 18px;
        height: 18px;
    }
}