.login {
    background-color: #202020;
    height: 100vh;
    font-family: Inter, 'Areal', sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    padding: 70px 0 70px;
    overflow: scroll;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 396px;
}

.form__fields {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__logo {
    width: 38px;
    height: 38px;
    background: url(../../images/logo.svg) no-repeat;
    background-size: cover;
}

.form__title{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    margin: 40px 0 40px;
}

.form__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
}

.form__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background-color: inherit;
    color: #ffffff;
    border: none;
    border-bottom: 1px solid #424242;
    padding-bottom: 10px;
    margin-top: 5px;
    max-width: 100%;
}

.form__input:last-of-type{
    margin-bottom: 0;
}

.form__input:focus {
    outline: none;
    border-bottom: 1px solid #ffffff;
}

.form__input:invalid {
    color: #EE3465
}

.form__error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    height: 12px;
    margin: 6px 0 6px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form__submit-button {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    width: 396px;
    height: 45px;
    background-color: #4285F4;
    border: none;
    border-radius: 3px;
    margin-bottom: 16px;
}

.form__submit-button:disabled{
    background: #F8F8F8;
    color: #C2C2C2;
}

.form__submit-button:hover {
    opacity: .8;
}

.form__submit-button:active {
    opacity: .6;
}

.form__submit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__submit-error {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #FF004C;    
}

.form__span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
    margin-right: 6px;
}

.form__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4285F4;
    text-decoration: none;
}

.form__link-row {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .form {
        justify-content: center;
    }

    .form__submit {
        margin-top: 134px;
    }
}

@media screen and (max-width: 520px) {
    .login {
        padding: 56px 30px 30px;
    }

    .form {
        justify-content: space-between;
        width: 100%;
    }

    .form__submit-button {
        width:100%;
        font-size: 12px;
        line-height: 15px;
        margin-top: 0;
    }

    .form__submit {
        margin-top: 0;
    }

    .form__title {
        align-self: center;
    }

    .form__logo {
        align-self: center;
    }

    .form__span {
        font-size: 12px;
        line-height: 15px;
    }
    
    .form__link {
        font-size: 12px;
        line-height: 15px;
    }
}
